* {
    margin: 0;
    padding: 0;
}
.area_sc {
  width: 570px;
  height: 450px;
  box-sizing: border-box;
  border-bottom: 6px solid #373737;
  position: relative;
}

.area_sc:after {
    content:"";
    display: block;
    width: 0;
    height: 6px;
    background-color: salmon;
    position: absolute;
    top : 100%; /*부모밑에 바로 붙임. absolute와 함께 쓰임*/
    left: 50%;
}
.s_block {
  font-size: 20px;
}
.area_sc img {
  width: 100%;
}

.area_sc:hover:after {
    width: 100%;
    left: 0;
    transition-duration: 1s;
}