body{
    color : orange;
}
div{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

a[target="_blank"]:hover {
    color : red;
    background-color: yellow;
}

input[type="text"]:focus{
    background-color: lightcoral;
}
a[href] {
    text-decoration: none;
}